.app-wrapper {
  background-color: white; /* soft blue-gray background */
  gap: 16px;
  font-family: "Segoe UI", sans-serif;
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
